<%- include('../partials/header.ejs') %>
    <main>
        <section class="addEmployee">
            <div class="container">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-8">
                        <h1>Add Employee</h1>
                        <form action="" method="post">
                            <div class="mb-3">
                                <label for="employeeName" class="form-label">Employee Name</label>
                                <input type="text" class="form-control" id="employeeName" name="employeeName"
                                    placeholder="Employee Name Here" required>
                            </div>
                            <div class="mb-3">
                                <label for="employeeRole" class="form-label">Employee Role</label>
                                <select class="form-select" name="employeeRole">
                                    <option name="employeeRole" selected disabled>Open this select menu</option>
                                    <option name="employeeRole" value="Developer">Developer</option>
                                    <option name="employeeRole" value="Manager">Manager</option>
                                    <option name="employeeRole" value="HR">HR</option>
                                    <option name="employeeRole" value="Tester">Tester</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="employeeDepartment" class="form-label">Employee Department</label>
                                <select class="form-select" name="employeeDepartment">
                                    <option name="employeeDepartment" selected disabled>Open this select menu</option>
                                    <option name="employeeDepartment" value="IT">IT</option>
                                    <option name="employeeDepartment" value="HR">HR</option>
                                    <option name="employeeDepartment" value="Sales">Sales</option>
                                    <option name="employeeDepartment" value="Finance">Finance</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-check-label" for="exampleCheck1">Employee City</label>
                                <input type="text" class="form-control" id="employeeCity" name="employeeCity" placeholder="Employee City here" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-check-label" for="exampleCheck1">Employee Salary</label>
                                <input type="number" class="form-control" id="employeeSalary" name="employeeSalary" placeholder="Employee Salary" required min="6000" max="1000000">
                            </div>
                            <div class="mb-3">
                                <label for="employeeExperience" class="form-label">Employee Experience</label>
                                <select class="form-select" name="employeeExperience">
                                    <option name="employeeExperience" selected disabled>Open this select menu</option>
                                    <option name="employeeExperience" value="1">1</option>
                                    <option name="employeeExperience" value="2">2</option>
                                    <option name="employeeExperience" value="3">3</option>
                                    <option name="employeeExperience" value="4">4</option>
                                    <option name="employeeExperience" value="5">5</option>
                                    <option name="employeeExperience" value="6">6+</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Create Employee</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>